## 판다스 자료구조

##### 
- 분석을 위해 다양한 sorce로부터 수집하는 데이터는 형태나 속성이 매우 다양함  
-> 여러 종류의 데이터를 컴퓨터가 이해할 수 있도록 동일한 형식을 갖는 구조로 통합해야 함

### 시리즈(Series)와 데이터프레임(DataFrame)

##### 서로 다른 종류의 데이터를 한 곳에 담는 그릇(컨테이너)
- 시리즈 -> 1차원 배열
- 데이터프레임 -> 2차원 배열

##### 판다스의 목적
- 서로 다른 여러 가지 유형의 데이터를 공통의 포멧으로 정리하는 것
특히 행과 열로 이루어진 2차원 구조의 데이터프레임은 데이터 분석 실무에서 자주 사용됨

### 시리즈

##### 
- 데이터가 순차적으로 나열된 1차원 배열의 형태를 가짐
- 인덱스(index)는 데이터 값(value)와 일대일 대응됨 
-> 딕셔너리와 비슷한 구조

#### 시리즈 만들기
##### 판다스 내장 함수인 Series()이용하고, 딕셔너리를 함수의 인자로 전달

In [ ]:
# 딕셔너리 -> 시리즈 변환: 
pandas.Series(딕셔너리)

##### 
- 딕셔너리의 키(key)는 시리즈의 인덱스에 대응, 
- 딕셔너리의 각 키에 매칭되는 값(value)이 시리즈의 데이터 값으로 변환

In [1]:
# -*- coding: utf-8 -*-

# 1.1_dict_to_series.py

# pandas 불러오기
import pandas as pd

# ketLvalue 쌍으로 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'a' : 1, 'b' : 2, 'c': 3}

# 판다스 Series() 함수로 dictionary를 Series로 변환, 변수 sr에 저장
sr = pd.Series(dict_data)

# sr의 자료형 출력
print(type(sr))
print('\n')
# 변수 sr에 저장되어 있는 시리즈 객체 출력
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

##### 
- sr에 저장된 객체의 자료형 -> Series 클래스
- 인덱스 'a', 'b', 'c'는 왼쪽, 값 '1', '2', '3'은 오른쪽 표시
- 시리즈를 구성하는 데이터 값의 자료형(dtype)은 정수형(int64)

#### 인덱스 구조

##### 
- 인덱스는 자기와 짝을 이루는 데이터 값의 순서와 주소를 저장함       
-> 데이터의 탐색, 정렬, 선택, 겨합 등 데이터 조작을 쉽게 할 수 있음

- 인덱스는 정수형 위치 인덱스(integer position), 인덱스 이름(index name) 또는 인덱스 라벨(index label) 두 가지 종류가 있음

In [ ]:
# 시리즈 클래스의 index 속성을 이용하여 인덱스 배열을 따로 선택할 수 있음
# 인덱스 배열
Series객체.index

# 시리즈 클래스의 values 속성을 이용하여 데이터 값 배열을 따로 선택할 수 있음
# 데이터 값 배열
Series객체.values

#####
판다스 Series() 함수를 사용하여 파이썬 리스트를 시리즈로 변환      
단, 리스트를 시리즈로 변환할 때는 딕셔너리의 키처럼 인덱스로 변환될 값이 없음    
-> 인덱스를 별도로 정의하지 않으면, 디폴트로 정수형 위치 인덱스가 자동으로 지정됨

In [3]:
# 1.2_series_index.py

import pandas as pd

# 리스트를 시리즈로 변환하여 변수 sr에 저장
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

#####
- 시리즈의 index 속성과 values 속성을 이용하면 인덱스 배열과 데이터 값의 배열을 불러올 수 있음
- 실행 결과에서 인덱스는 0~4 범위의 정수를 갖는 Rangelndex 객체로 표시됨(범위의 마지막 값은 포함 x)
- 데이터 값 배열은 원래 데이터인 list_data의 리스트 원소 배열의 순서를 유지한 상태로 입력

In [5]:
# 1.2_series_index.py

import pandas as pd

# 리스트를 시리즈로 변환하여 변수 sr에 저장
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)


# 인덱스 배열은 변수 idx에 저장. 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
print('\n')
print(idx)
print('\n')
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object


RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

#### 원소 선택

#####
- 인덱스를 이용하여 시리즈의 원소 선택   
- 정수형 위치 인덱스 -> 대괄호[] 안에 위치를 나타내는 숫자 입력   
- 인덱스 이름(라벨) -> 대괄호[] 안에 이름과 함께 따옴표 입력

##### 
- Series()함수를 사용하여 파이썬 튜플(tuple)을 시리즈로 변환
- 딕셔너리의 키에 해당하는 값이 없어서 시리즈로 변환할 때 정수형 위치 인덱스가 자동 지정

- 리스트 또는 튜플을 시리즈로 만들 때 정수형 위치 인덱스 대신 인덱스 이름을 따로 설정 가능   
-> Series() 함수의 index 옵션에 인덱스 이름을 직접 전달

In [6]:
# 1.3_series_element.py

import pandas as pd

# 튜플을 시리즈로 변환(인덱스 옵션 지정)
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index = ['이름', '생년월일', '성별', '학생여부'])
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

##### 
- 왼쪽의 인덱스 위치 -> index 옵션에 전달한 4개의 인덱스 이름 표시
- 오른쪽 데이터 값 위치 -> 함수에 전달된 튜플(tup_data)의 원소 값들 표시
- 원고 데이터 값의 자료형(dtype)은 문자열(object)

In [7]:
# 1.3_series_element.py

import pandas as pd

# 튜플을 시리즈로 변환(인덱스 옵션 지정)
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index = ['이름', '생년월일', '성별', '학생여부'])
print(sr)

# 원소를 1개 선택
print(sr[0])
print(sr['이름'])

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
영인
영인

In [1]:
# 1.3_series_element.py

import pandas as pd

# 튜플을 시리즈로 변환(인덱스 옵션 지정)
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index = ['이름', '생년월일', '성별', '학생여부'])
print(sr)

# 여러 개의 원소를 선택(인덱스 리스트 활용)
# 여러 개의 인덱스를 선택할 때 리스트를 한 번 더 감싸야 함
print(sr[[1, 2]])
print('\n')
print(sr[['생년월일', '성별']])

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [2]:
# 1.3_series_element.py

import pandas as pd

# 튜플을 시리즈로 변환(인덱스 옵션 지정)
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index = ['이름', '생년월일', '성별', '학생여부'])
print(sr)

# 여러 개의 원소를 선택(인덱스 범위 지정)
print(sr[1 : 2]) # 범위의 끝 포함 x
print('\n')
print(sr['생년월일' : '성별']) # 범위의 끝 포함

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

#### 데이터프레임

#####
- 2차원 배열(행과 열)
- 열 -> 각각 시리즈 객체
- 시리즈를 열벡터(vector)라고 하면, 데이터프레임은 여러 개의 열벡터들이 같은 행 인덱스를 기준으로 줄지어 결합된 2차원 벡터 또는 행렬(matrix)

##### 
- 데이터프레임은 행과 열을 나타내기 위해 두 가지 종류의 주소를 사용
- 인덱스(row index)와 열 이름(column name 또는 column label)으로 구분

##### 
- 데이터 프레임 열 -> 공통의 속성을 갖는 일련의 데이터(변수)
- 행 -> 하나의 주식 종목에 관한 관측값(öbservatiön)

#### 데이터프레임 만들기

##### 
- 데이터 프레임을 만들이 위해서는 같은 길이(원소의 개수가 동일한)의 1차원 배열이 여러 개가 필요         
-> 여러 개의 시리즈(열, cölumn)를 모아 놓은 집합

##### 
- 딕셔너리의 값(value)에 해당하는 각 리스트가 시리즈 배열로 변환되어 데이터 프레임의 열이 된다

- 딕셔너리의 키(key)는 각 시리즈의 이름으로 변환되어 최종적으로 데이터프레이므이 열 이름이 된다

In [ ]:
# 데이터프레임을 만들 때는 판다스 DataFrame() 함수를 사용
# 여러 개의 리스트를 원소로 갖는 딕셔너리를 함수의 인자로 전달하는 방식이 주로 사용
# 딕셔너리 -> 데이터프레임 변환
pandas.DataFrame(딕셔너리 객체)

In [3]:
# 1.4_dict_to_dataframe.py

import pandas as pd

# 열 이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0' : [1, 2, 3], 'c1' : [4, 5, 6], 'c2' : [7, 8, 9], 'c3' : [10, 11, 12], 'c4' : [13, 14, 15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장
df = pd.DataFrame(dict_data)

# df의 자료형 출력
print(type(df))
print('\n')
# 변수 df에 저장되어 있는 데이터프레임 객체를 출력
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

##### 
- 딕션너리의 키(k) -> 열 이름(c0~c4)
- 값(v) -> 데이터프레임의 열
- 행 인덱스에는 정수형 위치 인덱스가 자동 지정
- 반환되는 객체는 데이터프레임

#### 행 인덱스 / 열 이름 설정

#####
- 2차원 배열 형태의 데이터를 데이터프레임으로 변환하기 쉬움
- 2차원 배열 예 -> 여러 개의 리스트(튜플)을 원소로 갖는 리스트(튜플)

In [ ]:
# 2차원 배열을 DataFrame() 함수 인자로 전달하여 데이터프레임으로 변환할 때 행 인덱스와 열 이름 속성을 사용자가 직접 지정할 수 있음
# 행 인덱스 / 열 이름 설정
pandas.DataFrame(2차원 배열,
                index = 행 인덱스 배열, 
                columns = 열 이름 배열)

In [4]:
# 1.5_change_df_idx_col.py


import pandas as pd

# 행 인덱스/열 이름 지정하여 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                  index = ['준서', '예은'],
                  columns = ['나이', '성별', '학교'])

# 행 인덱스, 열 이름 확인
print(df) # 데이터프레임
print('\n')
print(df.index) # 행 인덱스
print('\n')
print(df.columns) # 열 이름

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

#####
- 실행결과에서 리스트 -> 행으로 반환됨
- 데이터프레임 df의 행 인덱스는 df.index 속성으로 접근    
- 행 인덱스 배열을 구성하는 원소와 자료형을 알 수 있음
- 열 이름 배열은 df.columns 속성으로 접근

In [ ]:
# df.index와 df.columns 속성에 새로운 배열을 할당하는 방식으로 행 인덱스와 열 이름을 변경할 수 있음
# 행 인덱스 변경
DataFrame객체.index = 새로운 행 인덱스 배열

# 열 이름 변경
DataFrame객체.columns = 새로운 열 이름 배열

In [5]:
# 1.5_change_df_idx_col.py


import pandas as pd

# 행 인덱스/열 이름 지정하여 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                  index = ['준서', '예은'],
                  columns = ['나이', '성별', '학교'])

# 행 인덱스, 열 이름 확인
print(df) # 데이터프레임
print('\n')
print(df.index) # 행 인덱스
print('\n')
print(df.columns) # 열 이름

# 행 인덱스, 열 이름 변경
df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

print(df) # 데이터프레임
print('\n')
print(df.index) # 행 인덱스
print('\n')
print(df.columns) # 열 이름

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

#####
- df의 행 인덱스를 ['준서', '예은']에서 ['학생1', '학생2']로 변경
- 열 이름은 ['나이', '성별', '학교']에서 ['연령', '남녀', '소속']으로 변경

##### 
- 데이터프레임에 rename( ) 메소드를 적용하면 행 인덱스 또는 열 이름의 일부를 선택하여 변경 할 수 있음      
-> 원본 객체를 직접 수정하는 것이 아니라 새로운 데이터프레임 객체를 반환
- 원본 객체를 변경하려면 inplace=True 옵션을 사용

In [ ]:
# 행 인덱스 변경
DataFrame객체.rename(index = {기존행인덱스1 : 새로운행인덱스1,
                                기존행인덱스2 : 새로운행인덱스2,
                                ...},
                       inplace = True/False)

# 열 이름 변경
DataFrame객체.rename(columns = {기존열이름1 : 새로운열이름1,
                                 기존열이름2 : 새로운열이름2,
                                 ...},
                      inplace = True/False)

In [6]:
# 1.6_change_df_idx_col2.py

import pandas as pd

# 행 인덱스/열 이름 지정하여 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']],
                  index = ['준서', '에은'],
                  columns = ['나이', '성별', '학교'])

# 데이터프레임 df 출력
print(df)
print('\n')

# 열 이름 중, '나이'를 '연령'으로, '성별' : '남녀', '학교' : '소속'으로 바꾸기
df.rename(columns = {'나이' : '연령', '성별' : '남녀', '학교' : '소속'}, inplace = True)

# df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸기
df.rename(index = {'준서' : '학생1', '예은' : '학생2'}, inplace = True)

# df 출력(변경 후)
print(df)

    나이 성별   학교
준서  15  남  덕영중
에은  17  여  수리중


     연령 남녀   소속
학생1  15  남  덕영중
에은   17  여  수리중

#####
- df의 행 인덱스를 ['준서', '예은']에서 ['학생1', '학생2']로 변경
- 열 이름은 ['나이', '성별', '학교']에서 ['연령', '남녀', '소속']으로 변경

#### 행/열 삭제

#####
- 데이터프레임의 행 또는 열을 삭제하는 명령으로 drop() 메서드 사용
- 행을 삭제할 때는 축 (axis) 옵션으로 axis=0을 입력하거나, 별도로 입력하지 않는다
- 반면, 축 옵션으로 axis=1을 입력하면 열을 삭제
- 동시에 여러 개의 행 또는 열을 삭제하려면 리스트 형태로 입력

#####
- drop() 메소드는 기존 객체를 변경하지 않고 새로운 객체를 반환
- 원본 객체를 직접 변경하기 위해서는 inplace=True 옵션을 추가
- inplace 옵션을 False로 설정하면 새로운 객체가 생성되고, 원 객체는 변경 없이 그대로 유지된다

In [ ]:
# 행 삭제
DataFrame객체.drop(행 인덱스 또는 배열, axis = 0)

# 열 삭제
DataFrame객체.drop(열 이름 또는 배열, axis = 1)

In [7]:
# 1.7 _remove_row.py

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 95, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

# 데이터프레임 df를 복사하여 변수 df2에 저장. df2의 1개 행(row) 삭제
df2 = df[:]
df2.drop('우현', inplace = True)
print(df2)
print('\n')

# 데이터프레임 df를 복사하여 변수 df3에 저장. df3의 2개 행(row) 삭제
df3 = df[:]
df3.drop(['우현', '인아'], axis = 0, inplace = True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   95
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

/var/folders/t0/85xt099562dflgf6nvxdqgl00000gn/T/ipykernel_8980/211145454.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace = True)
/var/folders/t0/85xt099562dflgf6nvxdqgl00000gn/T/ipykernel_8980/211145454.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현', '인아'], axis = 0, inplace = True)

#####
- df2에서 이름이 '우현'인 학생의 행 데이터를 삭제
- df3에서 ['우현', '인아']와 같이 이름의 리스트를 사용하여 학생 2명의 행 데이터를 삭제

In [8]:
# 1.8_remove_column.py

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 95, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

# 데이터프레임 df를 복사하여 변수 df4에 저장. df4의 1개 열(column) 삭제
df4 = df.copy()
df4.drop('수학', axis = 1, inplace = True)
print(df4)
print('\n')

# 데이터프레임 df를 복사하여 변수 df5에 저장. df5의 2개 열(column) 삭제
df5 = df.copy()
df5.drop(['영어', '음악'], axis = 1, inplace = True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   95
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   95
인아  95  100   90


    수학   체육
서준  90  100
우현  80   95
인아  70   90

#####
- df4에서 수학 과목의 열 데이터를 삭제
- df5에서 ['영어', '음악']리스트를 전달하여 2과목의 열 데이터를 삭제

#### 행 선택

#####
- loc과 iloc 인덱서를 사용
- 이름을 기준으로 행을 선택 -> loc 사용
- 정수형 위치 인덱스를 사용할 때 -> iloc 사용

##### 
1. loc
- 인덱스 이름(index label)
- 가능(범위의 끝 포함)

2. iloc
- 정수형 위치 인덱스(integer position)
- 가능(범위의 끝 제외)

In [9]:
# 1.9_select_row.py

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 95, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

# 헹 인덱스를 사용하여 행 1개 선택
lable1 = df.loc['서준']
position1 = df.iloc[0]
print(lable1)
print('\n')
print(position1)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   95
인아  70  95  100   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

##### 
- loc 인덱서를 이용하려면 '서준'이라는 인덱스 이름을 직접 입력
- iloc을 이용할 때는 첫 번째 정수형 위치를 나타내는 0을 입력
- label1변수와 position1 변수에 저장한 값은 차이x

In [10]:
# 1.9_select_row.py

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 95, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0, 1]]
print(label2)
print('\n')
print(position2)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   95
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   95


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   95

##### 
- loc 인덱서는 ['서준', '우현']과 같이 인덱스 이름을 배열로 전달
- lioc을 이용할 때는 [0, 1]과 같이 정수형 위치 전달
- label2와 position2에 저장된 내용은 같음

In [11]:
# 1.9_select_row.py

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], '체육' : [100, 95, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])
print(df)
print('\n')

# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준' : '우현']
position3 = df.iloc[0 : 1]
print(label3)
print('\n')
print(position3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   95
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   95


    수학  영어  음악   체육
서준  90  98  85  100

##### 
- 인덱스 이름을 범위로 지정한 label3는 범위의 마지막 값인 '우현' 학생의 점수 포함
- 정수형 위치 인덱스를 사용한 position3에는 범위의 마지막 값인 '우현' 학생의 점수 제외

#### 열 선택

#####
- 데이터프레임의 열 데이터를 1개만 선택할 때
1. 대괄호[] 안에 열 이름을 따옴표와 함께 입력 
2. 도트. 다음에 열 이름 입력(열 이름이 문자일 경우에만 가능)
- 열 1개를 선택하면 시리즈 객체가 반환됨

In [ ]:
# 열 1개 선택(시리스 생성)
DataFrame객체['열 이름']
DataFrame객체.열이름

#####
- 대괄호 안에 열 이름의 리스트를 입력하면 리스트의 원소인 열을 모두 선택하여 데이터프레임으로 반환
- 리스트 원소로 열 이름 한 개만 있는 경우에도, 2중 대괄호[[]]를 사용하는 것이 되어 반환되는 객체는 시리즈가 아니라 데이터프레임이 됨

In [ ]:
# 열 n개 선택(데이터프레임 생성)
DataFrame객체[[열 이름1, 열 이름2, ...]]

In [12]:
# 1.10_select_column.py

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70], 
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 95, 90]}    

df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

# '수학' 점수 데이터만 선택. 변수 math1에 저장
math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

# '영어' 점수 데이터만 선택. 변수 eng1에 저장
eng1 = df.영어
print(eng1)
print(type(eng1))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   95
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [13]:
# '음악', '체육' 점수 데이터 선택. 변수 music_gym에 저장
music_gym = df[['음악', '체육']]
print(music_gym)
print(type(music_gym))
print('\n')

# '수학' 점수 데이터만 선택. 변수 math2에 저장
math2 = df[['수학']]
print(math2)
print(type(math2))

    음악   체육
0   85  100
1   95   95
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

#####
- 대괄호[] 안에 ['음악', '체육] 점수를 열 이름의 리스트로 입력하면 데이터프레임이 반환
- df[['수학']]과 같이 2중 대괄호를 사용하면 열 이름 1개를 월소로 갖는 리스트를 사용하는 경우에도 시리즈가 아닌 데이터프레임 반환

In [ ]:
# 범위 슬라이싱
DataFrame객체.iloc[시작인덱스 : 끝인덱스 : 슬라이싱 간격]

# 시작 인덱스를 포함하고, 끝 인덱스보다 1이 작은 인덱스까지 포함
# 슬라이싱 간격을 지정하지 않으면 1씩 증가

#### 원소 선택

#####
데이터 프레임의 행 인덱스와 열 이름을 [행, 열] 형색의 2차원 좌표로 입력하여 원소 위치를 지정하는 방법
- 원소가 위치하는 행과 열의 좌표를 입력하면 해당 위치의 원소가 반환
- 1개 이상의 행과 2개 이상의 열을 선택하거나 반대로 2개 이상의 행과 1개의 열을 선택하는 경우 시리즈 객체가 반환됨
- 2개 이상의 행과 2개 이상의 열을 선택하면, 데이터프레임 객체를 반환

In [ ]:
# 인덱스 이름
DataFrame객체.loc[행 인덱스, 열 이름]

# 정수 위치 인덱스
DataFrame객체.iloc[행 번호, 열 번호]

In [14]:
# 1.11_select_element.py

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70], 
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 95, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경 사항 반영
df.set_index('이름', inplace = True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   95
인아  70  95  100   90

In [15]:
# 데이터프레임 df의 특정 원소 1개 선택('서준'의 '음악' 점수)
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)

85
85

#####
- 데이터프레임 df의 원소 1개를 선택하여 출력하는 방법
- loc 인덱서를 사용하여 행 인덱스가 '서준'이고 열 이름이 '음악'인 원소를 찾아서 변수 a에 저장
- 같은 원소를 찾는데 iloc 인덱서를 사용할 때는 (0행, 2열)을 뜻하는 정수형 위치 인덱스 전달

In [18]:
# 2개 이상의 인덱스 배열을 리스트로 입력할 수 있음
# 슬라이싱 기법을 사용할 수 있음
# 데이터프레임 df의 특정 원소 2개 이상 선택('서준'의 '음악'과 '체육' 점수)
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악' : '체육']
print(e)
f = df.iloc[0, 2 :]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [19]:
# 데이터프레임의 원소를 선택할 때 행 인덱스와 열 이름을 각각 2개 이상 선택하여 데이터프레임을 얻는 방법
# df 2개 이상의 행과 열에 속하는 원소들 선택('서준', '우현'의 '음악'과 '체육' 점수)
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0, 1], [2, 3]]
print(h)
i = df.loc['서준' : '우현', '음악' : '체육']
print(i)
j = df.iloc[0 : 2, 2 :]
print(j)

    음악   체육
이름
서준  85  100
우현  95   95
    음악   체육
이름
서준  85  100
우현  95   95
    음악   체육
이름
서준  85  100
우현  95   95
    음악   체육
이름
서준  85  100
우현  95   95

#####
** 이외에 열을 선택하는 방법
- df.iloc[:, ['음악', '체육]]은 모든 행에 대해 2개의 열(음악, 체육)을 찾음
- df.iloc[:, [2, 3]]은 모든 행에 대해 인덱스 위치가 3, 4번째인 열(음악, 체육)을 선택하게 함
- df.iloc[:, 2:4]처럼 열 범위를 지정할 수도 있음

#### 열 추가

In [ ]:
# 열 추가
DataFrame객체['새로운 열 이름'] = 데이터 값

#####
- 데이터프레임의 마지막 열에 덧붙이듯 새로운 열 추가
- 모든 행에 동일한 값이 입력됨

In [20]:
# 1.12_add_column.py

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70], 
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 95, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 데이터프레임 df에 '국어' 열 추가. 데이터 값은 80 지정
df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   95
2  인아  70  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   95  80
2  인아  70  95  100   90  80

#####
- '국어' 열을 사로 추가하는데, 모든 학생들의 국어 점수가 동일하게 80점으로 입력

#### 행 추가

#####
- 추가하려는 행 이름과 데이터 값을 loc 인덱서를 사용하여 입력
- 하나의 데이터 값을 입력하거나, 열의 개수에 맞게 배열 형태로 여러 개의 값을 입력할 수 있음
- 하나의 데이터 값을 입력할 경우 행의 모든 원소에 같은 값이 추가
- 열의 개수에 맞게 배열 형태로 여러 개의 값을 입력할 경우 배열의 순서대로 열 위치에 값이 하나씩 추가
- 행 벡터 자체가 배열이므로, 기존 행을 복사해서 새로운 행에 그대로 추가할 수도 있음

In [ ]:
# 행 추가
DataFrame.loc['새로운 행 이름'] = 데이터 값 (또는 배열)

#####
- 데이터프레임에 새로운 행을 추가할 때는 기존 행 인덱스와 겹치지 않는 새로운 인덱스를 사용
- 기존 인덱스와 중복되는 경우 새로운 행을 추가하지 않고 기존 행의 원소값을 변경

- 행 인덱스를 지정할 때 기존 인덱스의 순서를 따르지 않아도 됨

In [22]:
# 1.13_add_row.py

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70], 
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 95, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 새로운 행(row) 추가 - 같은 원소 값 입력
df.loc[3] = 0 
# df.loc[10] = 0을 사용해도 오류가 발생하지는 않음(행 인덱스는 3이 아니라 10이 됨)
print(df)
print('\n')

# 새로운 행(row) 추가 - 원소 닶 여러 개의 배열 입력
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df)
print('\n')

# 새로운 행(row) 추가 - 기존 행 복사
df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   95
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   95
2  인아  70  95  100   90
3   0   0   0    0    0


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   95
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   95
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

#### 원소 값 변경

#####
- 데이터프레임의 특정 원소를 선택하고 새로운 값을 지정해주면 원소 값이 변경됨
- 원소 1개를 선택하여 변경할 수도 있고, 여러 개의 원소를 선택하여 한꺼번에 값을 바꿀 수도 있음
- 변경할 원소를 선택할 때 데이터프레임 인덱싱과 슬라이싱 기법을 사용

In [ ]:
# 원소 값 변경
DataFrame 객체의 일부분 또는 원소를 선택 = 새로운 값

In [24]:
# 1.14_modify_dataframe_element.py
# 각기 다른 점수를 새로운 값으로 입력하여 원소 변경

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70], 
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 95, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace = True)
print(df)
print('\n')

# 데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육' 점수
df.iloc[0][3] = 80
print(df)
print('\n')

df.loc['서준']['체육'] = 90
print(df)
print('\n')

df.loc['서준', '체육'] = 100
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   95
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  95
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  95
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   95
인아  70  95  100   90

In [26]:
# 여러 개의 원소를 선택하여 새로운 값을 할당하면, 모든 원소를 한꺼번에 같은 값으로 변경할 수 있음
# 데이터프레임 df의 원소 여러 개를 변경하는 방법: '서준'의 '음악', '체육' 점수
df.loc['서준', ['음악', '체육']] = 50
print(df)
print('\n')

df.loc['서준', ['음악', '체육']] = 100, 50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  95
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  95
인아  70  95  100  90

#### 행, 열의 위치 바꾸기

#####
전치의 결과로 새로운 객체를 반환하므로, 기존 객체를 변경하기 위해서는 df = df.transpose() 또는 df = df.T와 같이 기존 객체에서 새로운 객체를 할당해주는 과정이 필요

In [ ]:
# 행, 열 바꾸기
DataFrame객체.transpose()
DataFrame객체.T

In [27]:
# 1.15_transpose.py

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70], 
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100], 
             '체육' : [100, 95, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

# 데이터프레임 df를 전치하기(메서드 활용)
df = df.transpose()
print(df)
print('\n')

# 데이터프레임 df를 다시 전치하기(클래스 속성 활용)
df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   95
2  인아  70  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  95   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   95
2  인아  70  95  100   90

#####
- transpose() 메소드를 적용하여 행과 열을 서로 바꾸는 전치 과정
- 열 이름에 해당하는 과목명이 행 인덱스 위치로 이동하고, 행 인덱스에 있는 숫자들이 열 이름으로 이동
- df.T와 같이 클래스 속성을 활용할 수도 있음
- 여기서 데이터프레임의 행과 열을 한 번 더 바꾸면, 최초의 원본 데이터프레임과 같은 형태로 돌아옴