# 데이터 입출력

## 외부 파일 읽어오기

#####
- 판다스 -> 다양한 형태의 외부 파일을 읽어와서 데이터프레임으로 변환하는 함수 제공
- 판다스 객체인 데이터프레임으로 변환되고 나면 판다스의 모든 함수와 기능을 자유롭게 사용 가능
- 데이터프레임을 다양한 유형의 파일으로 저장하는 것도 가능

#### CVS 파일

#####
- CVS(comma-seperated values)
- 데이터 값을 쉼표(,)로 구분하고 있음
- 쉼표(,)로 열을 구분 / 줄바꿈으로 행을 구분
- 판다스 read_csv() 함수에 확장자(.csv)를 포함하여 파일 경로(파일명)을 입력하면 CSV 파일을 읽어와서 데이터프레임으로 변환함

In [ ]:
# CSV파일 -> 데이터프레임
pandas.read_csv("파일 경로(이름)")

#####
- read_csv() 함수의 header 옵션은 데이터프레임의 열 이름으로 사용할 행을 지정
1. header = 0 (기본 값: 0행을 지정): df = read_csv(file)
2. header = 1 (1행을 열 지정): df = read_csv(file, header = 1)
3. header = None (행을 열 지정하지 않음): df = read_csv(file, header = None)

#####
- index_col 옵션은 데이터프레임의 행 인덱스가 되는 열을 지정
1. index_col = False (인덱스 지정하지 않음): df = read_csv(file, index_col = False)
2. index_col = 'c0' ('c0' 열을 인덱스 지정): df = read_csv(file, index_col = 'c0')

In [12]:
# 2.1_csv_to_df.py

# 라이브러리 불러오기
import pandas as pd

# 파이썬 경로(파이썬 파일과 같은 폴더)를 찾고, 변수 file_path에 저장
file_path = '/Users/youju/Downloads/5674-833_4th/part2/read_csv_sample.csv'

# read_csv() 함수로 데이터프레임 변환. 변수 df1에 저장
df1 = pd.read_csv(file_path)
display(df1)
print('\n')

# read_csv() 함수로 데이터프레임 변환. 변수 df2에 저장. header = None 옵션
# 열 이름(행) 지정x -> 첫 행의 데이터가 열의 이름
df2 = pd.read_csv(file_path, header = None)
display(df2)
print('\n')

# read_csv() 함수로 데이터프레임 변환. 변수 df3에 저장. index_col = None 옵션
df3 = pd.read_csv(file_path, index_col = None) # 행 이름(열) 지정x -> 정수 0, 1, 2로 지정
display(df3)
print('\n')

# read_csv() 함수로 데이터프레임 변환. 변수 df4에 저장. index_col = 'c0' 옵션
df4 = pd.read_csv(file_path, index_col = 'c0')
display(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9

    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

#####
- csv 파일에 따라서 쉼표(,) 대신 탭(\t)이나 공백으로 텍스트를 구분하기도 함
- 구분자(sep 또는 delimiter) 옵션을 알맞게 입력해야 함

#####
- path -> 파일의 위치(파일명 포함), URL
- sep(또는 delimiter) -> 텍스트 데이터를 필드별로 구분하는 문자
- header -> 열 이름으로 사용될 행의 번호(기본 값은 0). header가 없고 첫 행부터 데이터가 있는 경우 None으로 지정 가능
- index_col -> 행 인덱스로 사용할 열의 변호 또는 열 이름
- names -> 열 이름으로 사용할 문자열의 리스트
- skiprows -> 처음 몇 줄을 skip할 것인지 설정(숫자 입력). skip하려는 행의 번호를 담은 리스트로 설정 가능 (예: [1, 3, 5])
- parse_dates -> 날짜 텍스트를 datetime64로 변환할 것인지 설정(기본값은 False)
- skip_footer -> 마지막 몇 줄을 skip할 것인지 설정(숫자 입력)
- encoding -> 덱스트 인코딩 종류를 지정

#### Excel 파일

#####
- Excel 파일의 행과 열은 데이터프레임의 행, 열로 일대일 대응

In [ ]:
# Excel 파일 -> 데이터프레임
pandas.read_excel("파일 경로(이름)")

In [11]:
# 2.2_read_excel.py

import pandas as pd

# read_excel() 함수로 데이터프레임 변환
df1 = pd.read_excel('/Users/youju/Downloads/5674-833_4th/part2/남북한발전전력량.xlsx', engine = 'openpyxl') # header = 0 (default 옵션)
df2 = pd.read_excel('/Users/youju/Downloads/5674-833_4th/part2/남북한발전전력량.xlsx', engine = 'openpyxl', header = None) # header 옵션 미적용

# 데이터프레임 출력
display(df1)
print('\n')
display(df2)

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
2,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
3,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
4,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
5,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
6,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
7,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
8,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
9,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

#####
- header 옵션을 추가하지 않은 경우에는 Excel 파일의 첫 행이 열 이름을 구성
- header = None 옵션을 사용하면 정수형 인덱스(0, 1, 2, ...)를 열 이름으로 자동 할당

#### JSON 파일

#####
- 데이터 공유를 목적으로 개발된 특수한 파일 형식
- 파이썬 딕셔너리와 비슷하게 'key : value' 구조를 가짐 -> 구조가 중첩되는 방식에 따라 다르게 적용

In [ ]:
# JSON 파일 -> 데이터프레임
pandas.read_jason("파일 경로(이름)")

In [10]:
# read_json_sample.py

import pandas as pd

# read_json() 함수로 데이터프레임 변환
df = pd.read_json('/Users/youju/Downloads/5674-833_4th/part2/read_json_sample.json')
display(df)
print('\n')
print(df.index)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True

Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

### 웹(web)에서 가져오기

#### HTML 웹 페이지에서 표 속성 가져오기

#####
read_html()
- HTML 웹 페이지에 있는 <table> 태그에서 표 형식의 데이터를 모두 찾아서 데이터프레임으로 변환
- 표 데이터들은 각각 별도의 데이터프레임으로 변환되기 때문에 여러 개의 데이터프레임(표)을 원소로 갖는 리스트가 반환됨

In [ ]:
# HTML 표 속성 읽기
pandas.read_html("웹 주소(URL)" 또는 "HTML 파일 경로(이름)")

In [9]:
# 2.4_read_html.py

import pandas as pd

# HTML 파일 경로 or 웹 페이지 주소를 url 변수에 저장
url = '/Users/youju/Downloads/5674-833_4th/part2/sample.html'

# HTML 웹페이지의 표(table)을 가져와서 데이터프레임으로 변환
tables = pd.read_html(url)

# 표(table)의 개수 확인
print(len(tables))
print('\n')

# tables 리스트의 원소를 iteration하면서 각각 화면 출력
for i in range(len(tables)): # %s -> 문자열 대체
    print("tables[%s]" % i)
    display(tables[i])
    print(print('\n'))

# 파이썬 패키지 정보가 들어 있는 두 번째 데이터프레임을 선택하여 df 변수에 저장
df = tables[1]

# 'name' 열을 인덱스로 지정
df.set_index(['name'], inplace = True) # inplace = True -> df가 바로 변경됨
display(df)

2


tables[0]

   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

None
tables[1]

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

None

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

#### 웹 스크래핑

#####
- 스크래핑 한 내용을 파이썬 리스트, 딕셔너리 등으로 정리한 뒤 DataFrame() 함수에 리스트나 딕셔너리 형태로 전달하여 데이터프레임으로 변환
- 딕셔너리 키는 열 이름 / 리스트는 열 데이터

In [1]:
# 2.5_us_eff_list.py

# 라이브러리 불러오기
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

# 위키피디아 미국 ETF 웹 페이지에서 필요한 정보를 스크래핑하여 딕셔너리 형태로 변수 etfs에 저장
url = "https://en.wikipedia.org/wiki/List_of_American_exchange-traded_funds"
resp = requests.get(url)
soup = BeautifulSoup(resp.text, 'lxml')
rows = soup.select('div > ul > li')

etfs = {}
for row in rows:

    try:
        etf_name = re.findall('^(.*) \(NYSE', row.text)
        etf_market = re.findall('\((.*)\|', row.text)
        etf_ticker = re.findall('NYSE Arca\|(.*)\)', row.text)

        if (len(etf_ticker) > 0) & (len(etf_market) > 0) & (len(etf_name) > 0):
            etfs[etf_ticker[0]] = [etf_market[0], etf_name[0]]

    except AttributeError as err:
        pass

#etfs 딕셔너리 출력
print(etfs)
print('\n')

# etfs 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(etfs)
print(df)

{}


Empty DataFrame
Columns: []
Index: []

/var/folders/t0/85xt099562dflgf6nvxdqgl00000gn/T/ipykernel_13725/3901958004.py:12: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(resp.text, 'lxml')

### 데이터 저장하기

#### CSV 파일로 저장

#####
- 판다스 데이터프레임은 2차원 배열로 구조화된 데이터 -> 2차원 구조를 갖는 CSV 파일로 변환 가능
- 데이터프레임을 CSV 파일로 저장하려면 to_csv()메서드를 적용

In [ ]:
# CSV 파일로 저장
DataFrame객체.to_csv("파일 이름(경로)")

In [7]:
# 2.7_to_csv.py

import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
data = {'name' : ['Jarry', 'Riah', 'Paul'],
        'algol' : ["A", "A+", "B"],
        'basic' : ["C", "B", "B+"],
        'c++' : ["B+", "C", "C+"],
        }

df = pd.DataFrame(data)
df.set_index('name', inplace = True) # name 열을 인덱스로 지정
display(df)

# to_csv() 메서드를 사용하여 cssv 파일로 내보내기. 파일명은 df_sample.csv로 저장
df.to_csv("./df_sample.csv")

      algol basic c++
name
Jarry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

#### JSON 파일로 저장

In [ ]:
# JSON 파일로 저장
DataFrame객체.to_json("파일 이름(경로)")

In [13]:
# 2.8_to_json.py

import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
data = {'name' : ['Jarry', 'Riah', 'Paul'],
        'algol' : ["A", "A+", "B"],
        'basic' : ["C", "B", "B+"],
        'c++' : ["B+", "C", "C+"],
        }

df = pd.DataFrame(data)
df.set_index('name', inplace = True) # name 열을 인덱스로 지정
display(df)

# to_json() 메서드를 사용하야 JSON 파일로 내보내기. 파일명은 df_sample.json으로 저장
df.to_json("./df_sample.json")

      algol basic c++
name
Jarry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

#####
- to_json() 메서드를 이용하여 데이터프레임을 현재 디렉터리(./)에 JSON 파일로 변환하여 저장
- JSON 파일을 열어보면 데이터프레임의 행, 열이 JSON 파일의 형식에 맞춰 정리됨

#### Excel 파일로 저장

#####
- 데이터프레임은 Excel 파일과 아주 유사한 구조를 가짐
- 데이터프레임의 행과 열은 Excel 파일의 행과 열에 일대일로 대응

In [ ]:
# Excel 파일로 저장
DataFrame객체.to_excel("파일 이름(경로)")
# to_excel() 메서드를 사용하려면 openpyxl 라이브러리를 사전에 설치해야 함

In [15]:
# 2.9_to_excel.py

import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
data = {'name' : ['Jarry', 'Riah', 'Paul'],
        'algol' : ["A", "A+", "B"],
        'basic' : ["C", "B", "B+"],
        'c++' : ["B+", "C", "C+"],
        }

df = pd.DataFrame(data)
df.set_index('name', inplace = True) # name 열을 인덱스로 지정
display(df)

# to_excel() 메서드를 사용하야 Excel 파일로 내보내기. 파일명은 df_sample.excel으로 저장
df.to_excel("./df_sample.xlsx")

      algol basic c++
name
Jarry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

#### 여러 개의 데이터프레임을 하나의 Excel 파일로 저장

#####
- ExcelWriter() 함수는 Excel 워크북 객체를 생성함
- 데이터프레임에 to_excel() 메서드를 적용할 때 삽입하려는 워크북 객체(Excel 파일)를 인자로 전달
- sheet_name 옵션에 Excel 파일의 시트 이름을 입력하여 삽입되는 시트 위치를 지정 가능
- 데이터프레임을 삽입하는 시트 이름을 다르게 설정하면, 같은 Excel 파일의 서로 다른 시트에 여러 데이터프레임을 구분하여 저장

In [ ]:
# 데이터프레임 여러 개를 Excel 파일로 저장
pandas.ExcelWriter("파일 이름(경로)")

In [18]:
# 2.10_excewriter.py

import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df1, df2에 저장
data1 = {'name' : ['Jarry', 'Riah', 'Paul'],
        'algol' : ["A", "A+", "B"],
        'basic' : ["C", "B", "B+"],
        'c++' : ["B+", "C", "C+"],
        }
data2 = {'c0' : [1, 2, 3],
         'c1' : [4, 5, 6],
         'c2' : [7, 8, 9],
         'c3' : [10, 11, 12],
         'c4' : [13, 14, 15]
         }

df1 = pd.DataFrame(data1)
df1.set_index('name', inplace = True) # name 열을 인덱스로 지정
display(df1)
print('\n')

df2 = pd.DataFrame(data2)
df2.set_index('c0', inplace = True) # c0 열을 인덱스로 지정
display(df2)

# df1을 'sheet1'으로, df2를 'sheet2'로 저장(Excel 파일명은 "df_excelwriter.xlsx")
writer = pd.ExcelWriter("./df_excelwriter.xlsx")
df1.to_excel(writer, sheet_name = "sheet1")
df2.to_excel(writer, sheet_name = "sheet2")
writer.save()

      algol basic c++
name
Jarry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15

/var/folders/t0/85xt099562dflgf6nvxdqgl00000gn/T/ipykernel_13725/4168384282.py:31: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

#####
- df1과 df2에 to_excel() 메서드를 적용하면서 sheet_name 옵션을 다르게 입력하여 writer 변수가 가리키는 Excel 파일(워크북 객체)의 서로 다른 시트에 각각 구분하여 삽입